@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

/*
 *
 * ------------------------------------------------------------------[Custom]---[panelHeaderBsResponsive]--
 * Responsive panel with title based on bootstrap grid
 * Dependencies [bootstrap-5.1]
 */
 
.panelHeaderBsResponsive {}


/*
 *
 * ------------------------------------------------------------------[PanelHeaderLayout]---[panelHeaderInlineTitle]--
 * panel header with title placed in rounded border
 * Dependencies [adf faces]
 */
af|panelHeader.panelHeaderInlineTitle {
    border: 1px solid var(--border-light-color);
    border-radius: 15px;
    padding: 0 1rem 0.8rem;
    margin-bottom: 1.5rem;
}
af|panelHeader.panelHeaderInlineTitle::title0,
af|panelHeader.panelHeaderInlineTitle::title1,
af|panelHeader.panelHeaderInlineTitle::title2 {
    position: absolute;
    margin-top: -18px;
}
af|panelHeader.panelHeaderInlineTitle::title-text0,
af|panelHeader.panelHeaderInlineTitle::title-text1,
af|panelHeader.panelHeaderInlineTitle::title-text2 {
    background-color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-size: var(--title2-font-size);
}
af|panelHeader.panelHeaderInlineTitle::content0,
af|panelHeader.panelHeaderInlineTitle::content1,
af|panelHeader.panelHeaderInlineTitle::content2 {
    padding-top: 20px;
}


/*
 *
 * ------------------------------------------------------------------[selectOneRadio]---[radioButtonCard]--
 * large radio buttons displays like cards with icon
 * default skin and hover event style
 * Dependencies [fontawesome6]
 */

af|selectOneRadio.radioButtonCard {
    /*margin-top: 25px;*/
    /*margin-bottom: 25px;*/
}
af|selectOneRadio.radioButtonCard::label {
    font-size: var(--font-size-lg);
    color: var(--primary-color);
    padding-bottom: 15px;
}
af|selectOneRadio.radioButtonCard::content {
    display: flex;
}
af|selectOneRadio.radioButtonCard::native-input {
    display: none;
    /*content: url("../resources/images/icons/square-regular.svg");*/
    /*opacity: 0;*/
    margin: 0px 0px 14px 0px;
}
af|selectOneRadio.radioButtonCard::content-input {
    position: relative !important;
    background-color: var(--panel-light-bg);
    border-radius: var(--panels-border-raduis);
    padding: 20px;
    display: inline-grid;
}
af|selectOneRadio.radioButtonCard::content-input:lang(en) {
    margin-right: 10px;
}
af|selectOneRadio.radioButtonCard::content-input:lang(ar) {
    margin-left: 10px;
}
af|selectOneRadio.radioButtonCard::item-text {
    margin-left: 0px;
    font-size: var(--font-size-lg);
}
af|selectOneRadio.radioButtonCard::item-text::after {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}
/** RADIO HOVER **/
af|selectOneRadio.radioButtonCard::content-input:hover {
    background-color: var(--secondary-color);
    transition: all 0.5s ease 0s;
}
af|selectOneRadio.radioButtonCard::item-text:hover,
af|selectOneRadio.radioButtonCard.cardIco::content-input:hover:before,
.radioButtonCard.cardIco input[type="radio"]:hover + label:before,
af|selectOneRadio.radioButtonCard.cardIco::native-input:hover:before {
    transition: all 0.3s ease 0s;
    color: #fff;
}



/*
 *
 * ------------------------------------------------------------------[Custom]---[verticalTracker]--
 * Draw vertical tracker programmatically
 * Dependencies [fontawesome6] [HTML5] [bootstrap5.1]
 */

.verticalTracker {
    margin-bottom: 1rem
}
.verticalTracker .tracking-item {
    border-left: 1px dashed #e5e5e5;
    position: relative;
    /*padding: 2rem 1.5rem .5rem 2.5rem;*/
    padding: 1rem 2rem;
    /*margin-left: 3rem;*/
    margin-left: 2rem;
    min-height: 5rem
}
.verticalTracker .tracking-item .tracking-date {
    margin-bottom: .5rem
}
.verticalTracker .tracking-item .tracking-content .item-label {
    font-size: var(--font-size-md);
}
.verticalTracker .tracking-item .tracking-content {
    /*padding: 0px 0.5rem .8rem;*/
    padding: 0px 1rem .8rem;
}
.verticalTracker .tracking-item .tracking-content span {
    display: block;
}
.verticalTracker .tracking-item .tracking-icon {
    /*line-height: 2.6rem;*/
    line-height: 3.6rem;
    position: absolute;
    /*left: -1.3rem;
    width: 2.6rem;*/
    /*left: -1.5rem;*/
    left: -2.1rem;
    /*width: 3rem;*/
    width: 4rem;
    /*height: 2.6rem;*/
    height: 3.5rem;
    text-align: center;
    border-radius: 20%;
    font-size: var(--font-size-xl);
    /*background-color: var(--primary-color);*/
    background-color: rgb(108,117,125,.75);
    color: #fff !important;
}

/*
 *
 * ------------------------------------------------------------------[Custom]---[historyTracker]--
 * Draw vertical history tracker programmatically
 * Dependencies  [fontawesome6] [HTML5] [bootstrap5.1]
 */

[class*=tracking-status-] p {
    margin: 0;
    font-size: 1.1rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center
}
[class*=tracking-status-] {
    padding: 1.6rem 0
}
.historyTracker .tracking-list {
    /*border: 1px solid #e5e5e5*/
}
.historyTracker .tracking-item {
    border-left: 1px solid #e5e5e5;
    position: relative;
    /*padding: 2rem 1.5rem .5rem 2.5rem;*/
    padding: 1rem 2rem;
    /*font-size: 1rem;*/
    margin-left: 1rem;
    /*min-height: 5rem;*/
}
.historyTracker .tracking-item:last-child {
    /*padding-bottom: 4rem;*/
}
.historyTracker .tracking-item .tracking-date {
    margin-bottom: .5rem
}
.historyTracker .tracking-item .tracking-date span {
    color: #888;
    font-size: 85%;
    padding-left: .4rem
}
.historyTracker .tracking-item .tracking-content {
    padding: .5rem .8rem;
    background-color: #f4f4f4;
    border-radius: .5rem
}
.historyTracker .tracking-item .tracking-content span {
    display: block;
    color: #888;
    /*font-size: 80%;*/
}
.historyTracker .tracking-item .tracking-icon {
    line-height: 2.6rem;
    position: absolute;
    left: -1.3rem;
    width: 2.6rem;
    height: 2.6rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.1rem;
    background-color: var(--secondary-color);
    color: #000;
}
.historyTracker .status-reject {
    border-color: #d26759 !important ;
    background-color: rgba(210, 103, 89, 0.25);
}
.historyTracker .status-approve-con {
    border-color: #00e773 !important ;
    background-color: rgba(0, 231, 115, 0.25);
}

@media (min-width:992px) {
    .historyTracker .tracking-item {
        margin-left: 7rem;
    }
    .historyTracker .tracking-item .tracking-date {
        position: absolute;
        left: -7rem;
        /*width: 7.5rem;*/
        text-align: right;
    }
    .historyTracker .tracking-item .tracking-date span {
        display: block;
    }
}

/*
 * ------------------------------------------------------------------[Dependant Class]---[dotCircular]--
 * Dependencies [CLASS: historyTracker] or [CLASS: verticalTracker]
 * Circular like dot - does not have any value
 */
.verticalTracker.dotCircular .tracking-item .tracking-icon,
.historyTracker.dotCircular .tracking-item .tracking-icon {
    left: -0.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    margin-top: 5px;
}
.verticalTracker.dotCircular .tracking-item .tracking-content {
    padding: 0px 0rem 0.8rem;
}

/*
 *
 * ------------------------------------------------------------------[Custom]---[listViewExpand]--
 * Dependencies [adf faces] 
 */

af|listView.listViewExpand {
    border: none;
}

.listViewExpand af|listItem {
    padding: 0px;
    border: none;
    border-radius: 10px;
    margin: 10px 0px;
}
.listViewExpand af|listItem:selected {
    background-color: #fafafa ;
}
.listViewExpand .panelcontainer {
    border: 1px solid #d6dfe6;
    border-radius: 10px;
    padding: 10px;
}
.listViewExpand af|selectOneChoice.title::content {
    display: flex;
    justify-content: start;
    height: auto !important;
    font-size: var(--font-size-lg) !important;
    font-weight: bold !important;
    padding: 0px !important;
    overflow: hidden; 
    color: var(--primaryColor) !important;
}

/*
 *
 * ------------------------------------------------------------------[PanelHeaderLayout]---[AFPanelIcoFA]--
 * FontAwesome icon for a PanelHeaderLayout
 * Dependencies [fontawesome6]
 */
af|panelHeader.AFPanelIcoFA::title-text0:before,
af|panelHeader.AFPanelIcoFA::title-text1:before,
af|panelHeader.AFPanelIcoFA::title-text2:before {
    font-family: var(--font-awesome-family);
    font-weight: var(--font-awesome-light);
    display: inline-flex;
    flex-wrap: nowrap;
    color: var(--secondary-color);
}
af|panelHeader.AFPanelIcoFA::title-text0:lang(en):before,
af|panelHeader.AFPanelIcoFA::title-text1:lang(en):before,
af|panelHeader.AFPanelIcoFA::title-text2:lang(en):before {
    margin-right: 10px;
}
af|panelHeader.AFPanelIcoFA::title-text0:lang(ar):before,
af|panelHeader.AFPanelIcoFA::title-text1:lang(ar):before,
af|panelHeader.AFPanelIcoFA::title-text2:lang(ar):before {
    margin-left: 10px;
}



/*
 *
 * ------------------------------------------------------------------[Custom]---[summaryCard]--
 * Summary small card
 * Dependencies [adf faces]
 */
.summaryCard {
    background-color: #FFFFFF;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	
    border: 1px solid #DEE2E6;
    border-radius: 7px;
    padding: 15px;
    padding-bottom:15px;
    margin-bottom: var(--margin-bottom-var);
}
.summaryCard .summaryCardLabel {
    font-weight: bold;
    font-size: var(--fs-lg);
}
.summaryCard .summaryCardValue {
    color: #6c757d;
}


/*
 *
 * ------------------------------------------------------------------[Custom]---[selectManySearchableBox]--
 * Multi selections with search 
 * Dependencies [fontawesome6] [bootstrap5.1]
 */

.selectManySearchableBox .selection-items-panel {
    background-color: var(--panel-light-bg);
    border: 1px solid var(--border-light-color);
    border-radius: 10px;
    padding: 12px 12px 12px;
}
.selectManySearchableBox .selection-items-panel af|link.showMore {
    background-color: var(--bs-light);
    color: #000;
    border-radius: 7px;
    padding: 0px 10px;;
}
.selectManySearchableBox .selection-items-panel af|link:hover {
    background-color: #e6e7e9;
}

.selectManySearchableBox .list-panel {
    border: 1px solid var(--border-light-color);
    border-radius: 10px;
    padding: 12px 12px;
}
.selectManySearchableBox .list-panel table {
    min-width: 100% !important;
    width: 100% !important; 
}
.selectManySearchableBox .list-panel af|selectManyListbox::content {
    background-color: transparent;
    border: none;
}
.selectManySearchableBox .list-panel af|selectManyListbox::item {
    background-color: transparent;
    margin-bottom: 5px;
}
.selectManySearchableBox .list-panel af|inputText::content {
    height: 35px !important;
    margin-bottom: 10px;
    font-size: 90%;
}


/*
 *
 * ------------------------------------------------------------------[ROOT]--
 */

:root {
    /* Vendors Setup */z
    --font-awesome-family: "Font Awesome 6 Pro";
    --font-awesome-light: 300;
    --font-awesome-regualr: 400;
    /* Colors */
    --bg-color: #fff;/*#fbf9fa;*/
    --primary-color: #AA1F2E;
    --secondary-color: #A29366;/*#a19666;*/
    --stone-gray-color: #939598;
    --light-color: #939598;
    --dark-color: #33323a;
    --warning-color: #dbab1b;
    --bg-red: #9f233d;
    --footer-bg: #333333;
    --disabled-color: #998787;
    /* Spaces */
    --mb-container: 1.5rem;
    --mb-panels: 24px;
    --px-bar: 1.2rem;
    /* Fonts */
    --application-font-size: 1rem;
    --font-size-sm: 60%;
    --font-size-md: 80%;
    --font-size-lg: 120%;
    --font-size-xl: 140%;
    --font-size-2x: 160%;
    --font-size-3x: 180%;
    --menu-font-size: 1.1rem;
    --readonly-label-font-size: 85%;
    --readonly-content-font-size: 115%;
    --title0-font-size: 1.8rem;
    --title1-font-size: 1.5rem;
    --title2-font-size: 1.3rem;
    /* Modules & Components Setups */
    --tab-height: 52px;
    --main-header-user-height: 35px;
    /* Buttons */
    --button-bg-color: var(--primary-color);
    --button-hover-bgColor: var(--secondary-color);
    /* Panels */
    --panels-border-raduis: 15px;
    --panel-light-bg: #F6F7F9;
    --border-light-color: #edeef1;/*#DEE2E6;*/
    --panel-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    --login-fields-radius: 50px;
    --login-button-radius: var(--login-fields-radius);
    
    /*--*//*fa-primary-color: var(--primary-color);*/
    --fa-secondary-color: var(--secondary-color);
}

.test {
    color: red !important;
    background-color: Orange !important;
}